body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

.site h1 a {
	margin-bottom: 7px;
	color: #FE2E2E;
	text-decoration: none
}

.site h1 {
	margin: 0;
	font-size: 40px;
}

.site img {
	border: none;
	vertical-align: middle;
	margin-bottom: 10px;
	padding-right: 13px;
	width: 58px;
	height: auto
}
.box2 {
	margin-top: 20px
}

.name {
	padding: 10px 15px;
	color: #F79F81;
	font-weight: bold
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.menu li a {
	display: block;
	padding: 10px 15px;
	color: #000000;
	border-radius: 7px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.menu li a:hover {
	font-weight: bold;
	color: white;
	background-color: #FE2E2E
}

.menu ul:after {
	content: "";
	display: block;
	clear: both
}

.menu li {
	float: left;
	width: auto
}

.title {
	padding-left: 42%
}

.boxB h2 {
	color: #FA5858
}

.boxC h2 {
	color: #F79F81
}

th {
	font-weight: bold;
	text-align : center;
	width: 177px;
	height: 30px;
	color: #F79F81
}

td {
	font-weight: bold;
	text-align : center;
	color: #585858
}

#name {
	display: inline-block;
	font-weight: bold;
	vertical-align: -3px;
	top: 30px;
	font-size: 18px;
	color: #585858
}

input[type=text] {
	border: 2px solid #F79F81;
	height: 25px;
	padding-right: 13px;
	border-radius: 4px;
}

input[type=submit] {
	border: none;
	color: white;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #FE2E2E;
	border-radius: 7px
}

.inline-block {
	display: inline-block;
}

.search {
	padding-left: 20%
}

.download {
	padding-left: 63.9%;
	margin-top: 20px
}

.download a {
	color: #585858;
	text-decoration: none;
	font-weight: bold
}

.table {
	padding-left: 7%;
	margin-top: 30px;
	font-size: 18px
}

.copyright p	{
	margin: 0;
	color: #666666;
	font-size: 14px
}

.boxD	{
	margin-top: 400px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #dddddd
}

.boxA	{padding-top: 20px;
	padding-bottom: 10px}

.boxC	{padding-top: 20px;
	padding-bottom: 50px}



@media (min-width: 768px) {

.boxA:after	{content: "";
	display: block;
	clear: both}

.box1	{float: left;
	width: auto}

.box2 {
		float: right;
		width: auto
	}

.boxC:after	{content: "";
	display: block;
	clear: both}



@media (min-width: 1190px) {

.boxB, .boxC, .boxA-inner, .boxD-inner
	{width: 1140px;
	margin-left: auto;
	margin-right: auto}

.boxA	{margin-bottom: 20px;
	border-bottom: solid 1px #dddddd}

.boxB {
	margin-bottom: 20px;
	border-bottom: solid 1px #dddddd
}

.boxC {
	margin-top: 30px;
	border-bottom: solid 1px #dddddd
}

