body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

.site h1 a {
	margin-bottom: 7px;
	color: #FE2E2E;
	text-decoration: none
}

.site h1 {
	margin: 0;
	font-size: 40px;
}

.site img {
	border: none;
	vertical-align: middle;
	margin-bottom: 10px;
	padding-right: 13px;
	width: 58px;
	height: auto
}

.boxB h3 {
	color: #F79F81;
	font-weight: bold;
	font-size: 40px
}

.boxB {
	text-align: center
}

.boxB a {
	color: #FE2E2E;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none
}

.form p {
	padding-left: 59%;
	margin-bottom: 30px;
	font-size: 13px;
	color: red
}

.inline-block {
	display: inline-block;
}

.copyright p	{
	margin: 0;
	color: #666666;
	font-size: 14px
}

.boxD	{
	margin-top: 500px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #dddddd
}

.boxA	{padding-top: 20px;
	padding-bottom: 10px}

.boxC	{padding-top: 20px;
	padding-bottom: 20px}



@media (min-width: 768px) {

.boxA:after	{content: "";
	display: block;
	clear: both}

.box1	{float: left;
	width: auto}

.box2 {
		float: right;
		width: auto
	}

.boxC:after	{content: "";
	display: block;
	clear: both}



@media (min-width: 1190px) {

.boxB, .boxC, .boxA-inner, .boxD-inner
	{width: 1140px;
	margin-left: auto;
	margin-right: auto}

.boxA	{margin-bottom: 20px;
	border-bottom: solid 1px #dddddd}

.boxB {
	margin-bottom: 20px;
	border-bottom: solid 1px #dddddd
}

.boxC {
	margin-top: 30px;
	border-bottom: solid 1px #dddddd
}

